col_735_replicacdb_oncloud/target/classes/common/flowlogsender.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="FlowLogSender" doc:id="de51c5c7-78a0-46a4-8153-324caa099847" >
		<ee:transform doc:name="Transform Message" doc:id="2ba480a3-0b61-46da-b11d-48387035f0ed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{ 
TRANSACTION_ID: if (payload.TransactionId != null) payload.TransactionId else "",
LOG_LEVEL: if (payload.LogLevel != null) payload.LogLevel else "",
LOG_MESSAGE: if (payload.LogMessage != null) payload.LogMessage else "",
FLOW_NAME: if (payload.FlowName != null) payload.FlowName else "",
SYSTEM_PRODUCER: if (payload.SystemProducer != null) upper (payload.SystemProducer) else "",
SYSTEM_CONSUMER: if (payload.SystemConsumer != null) upper (payload.SystemConsumer) else "",
CREATION_DATE: now() as String {format: "yyyy-MM-dd HH:mm:ss.SSS"},
PAYLOAD_TYPE: if (payload.PayloadType != null)  payload.PayloadType else "",
PAYLOAD: if (payload.Payload != null) payload.Payload else "",
EXCEPTION_MESSAGE: if (payload.ExceptionMessage != null) payload.ExceptionMessage else "",
ERROR_TYPE: if (payload.ErrorType != null) payload.ErrorType else "",
ERROR_CODE: if (payload.ErrorCode != null) payload.ErrorCode else "",
ERROR_MESSAGE: if (payload.ErrorMessage != null) payload.ErrorMessage else "",
NUM_ROWS: if (payload.NumRows != null) payload.NumRows else "0",
NUM_ROWS_ELABORATED: "0",
NUM_ROWS_BAD:"0",
SF_JOB_ID: if (payload.jobId != null) payload.jobId else "",
ESITO_APEX_SYNC: if (payload.EsitoApexSync != null) payload.EsitoApexSync else ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="19e318d4-7c3a-4cf3-9c7e-1db6a67763a6" message="LOG FLOW SENDER ----- LOG PRE INVIO SU CODA ----- I dati che verranno inviati verso il servizio di logging per i flussi Flow sono: #[payload]"/>
		<jms:publish doc:id="770d86b0-5a75-458f-9e6d-9c052e340fc5" config-ref="Active_MQ" destination="coltrane.iol.FlowQLog.${environment.prefix}"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="cb7c02a4-514e-45aa-9ceb-9b2274dfed3f" >
				<ee:transform doc:name="Transform Message" doc:id="67efa005-3d57-45d2-8998-555bc9cc5635" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMessage" ><![CDATA[%dw 2.0
output application/java
---
error.errorMessage]]></ee:set-variable>
						<ee:set-variable variableName="errorDescription" ><![CDATA[%dw 2.0
output application/java
---
error.description]]></ee:set-variable>
						<ee:set-variable variableName="errorType" ><![CDATA[%dw 2.0
output application/java
---
error.errorType]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="LogErroreFlowLogSender" doc:id="3f64ba6c-c10c-4fb3-a43c-2d2b98e734fb" message="LOG FLOW SENDER ----- LOG ERROR ----- #[payload]"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
